main {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
  min-width: fit-content;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  border: 3px solid var(--clr-secondary);
  border-radius: 16px;
  padding: 1rem;
  min-width: max-content;
}
